<hr>
Kerlek add meg a {{class.display}} role-jat:<br>
<div  ng-if="tank">
    <input type="checkbox" name="guild-classes-role" id="tank"><label for="tank">Tank</label><br>
</div>
<div  ng-if="mDps">
    <input type="checkbox" name="guild-classes-role" id="mdps"><label for="mdps">Melee DPS</label><br>
</div>
<div  ng-if="rDps">
    <input type="checkbox" name="guild-classes-role" id="rdps"><label for="rdps">Range DPS</label><br>
</div>
<div  ng-if="heal">
    <input type="checkbox" name="guild-classes-role" id="heal"><label for="heal">Heal</label><br>
</div>