<ul>
    <li ng-if='class.warrior.isWanted'>Warrior
        <ul>
            <li ng-if='class.warrior.tank'>Tank</li>
            <li ng-if='class.warrior.mDps'>Melee DPS</li>
        </ul>
    </li>
    <li ng-if='class.paladin.isWanted'>Paladin
        <ul>
            <li ng-if='class.paladin.tank'>Tank</li>
            <li ng-if='class.paladin.mDps'>Melee DPS</li>
            <li ng-if='class.paladin.heal'>Heal</li>
        </ul>
    </li>
    <li ng-if='class.hunter.isWanted'>Hunter
        <ul>
            <li ng-if='class.hunter.rDps'>Range DPS</li>
        </ul>
    </li>
    <li ng-if='class.rogue.isWanted'>Rogue
        <ul>
            <li ng-if='class.rogue.mDps'>Melee DPS</li>
        </ul>
    </li>
    <li ng-if='class.priest.isWanted'>Priest
        <ul>
            <li ng-if='class.priest.rDps'>Range DPS</li>
            <li ng-if='class.priest.heal'>Heal</li>
        </ul>
    </li>
    <li ng-if='class.dk.isWanted'>Death Knight
        <ul>
            <li ng-if='class.dk.tank'>Tank</li>
            <li ng-if='class.dk.mDps'>Melee DPS</li>
        </ul>
    </li>
    <li ng-if='class.shaman.isWanted'>Shaman
        <ul>
            <li ng-if='class.shaman.mDps'>Melee DPS</li>
            <li ng-if='class.shaman.rDps'>Range DPS</li>
            <li ng-if='class.shaman.heal'>Heal</li>
        </ul>
    </li>
    <li ng-if='class.mage.isWanted'>Mage
        <ul>
            <li ng-if='class.mage.rDps'>Range DPS</li>
        </ul>
    </li>
    <li ng-if='class.warlock.isWanted'>Warlock
        <ul>
            <li ng-if='class.warlock.rDps'>Range DPS</li>
        </ul>
    </li>
    <li ng-if='class.monk.isWanted'>Monk
        <ul>
            <li ng-if='class.monk.tank'>Tank</li>
            <li ng-if='class.monk.mDps'>Melee DPS</li>
            <li ng-if='class.monk.heal'>Heal</li>
        </ul>
    </li>
    <li ng-if='class.druid.isWanted'>Druid
        <ul>
            <li ng-if='class.druid.tank'>Tank</li>
            <li ng-if='class.druid.mDps'>Melee DPS</li>
            <li ng-if='class.druid.rDps'>Range DPS</li>
            <li ng-if='class.druid.heal'>Heal</li>
        </ul>
    </li>
</ul>